body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.app {
   max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-w {
  display: flex;
  justify-content: center;
}
.header-main {
  width: 800px;
  height: 730px;
  border: 2px solid black;
}
.image {
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
}
#image-user {
  width: 200px;
  height: 230px;
  padding: 10px;
}
.image-info {
  display: flex;
  width: auto;
  height: 270px;
  border: 2px solid black;
  gap: 10px;
}
.info-lh {
  display: flex;
  justify-content: center;
}
.info-tt {
  width: 600px;
  font-size: 20px;
  line-height: 1.6;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px auto;
  font-family: Arial, sans-serif;
}
th,
td {
  padding: 8px;
  text-align: left;
}
.change-password {
  border: none;
  margin: 10px;
  background: white;
  color: rgb(16, 16, 209);
}
.change-password:hover {
  border: 2px solid red;
  color: red;
  border-radius: 15px;
}
.password-change {
  display: none;
}
.password-change.active {
  display: block;
}
.ch-ps {
  border: 2px solid black;
}
.button-r {
  text-align: center;
}
.button-huy,
.button-luu {
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 15px;
  padding: 4px;
  width: 100px;
}

.button-huy:hover,
.button-luu:hover {
  border: 3px solid red;
}
